<section class="main" *transloco="let t">
  <!-- <div class="filter-section">
    <tui-accordion class="filter-card accordion" [size]="'m'">
      <button 
        appearance=""
        tuiAccordion
        
      >
        <span tuiTitle style="display: flex; justify-content: space-between; align-items: center;">
          <span>Thể loại phim</span>
          <button
            iconStart="@tui.circle-plus"
            size="s"
            tuiIconButton
            type="button"
            [style.border-radius.%]="100"
            style="border: none; background: none;"
          >
          </button>
        </span>
      </button>
      <tui-expand>
        <tui-tree
          *ngFor="let item of genreData.children"
          [childrenHandler]="handler"
          [content]="content"
          [tuiTreeController]="true"
          [value]="item"
        />

        <ng-template
          #content
          let-item
        >
          <label
            tuiLabel
            class="tui-space_vertical-2 tui-space_left-1"
          >
            <input
              size="s"
              tuiCheckbox
              type="checkbox"
              [ngModel]="item | tuiMapper: getValue : map"
              (ngModelChange)="onChecked(item, $event)"
            />
            <span class="tui-text_body-m-2">{{ item.text }}</span>
          </label>
        </ng-template>

      </tui-expand>
    </tui-accordion>
  </div> -->


  <form class="search-container" [formGroup]="formSearch">
    <div class="search-form-header">
      <h2 class="page-title">{{t(tlHeader + 'page-title')}}</h2>
      <div class="search-fields">
        <tui-input
          formControlName="name"
          [tuiTextfieldCleaner]="true"
          [tuiTextfieldSize]="'m'"
          [tuiTextfieldLabelOutside]="true"
        >
          <input
            tuiTextfieldLegacy
            placeholder="Tìm kiếm theo tên phim"
          />
      </tui-input>
      </div>      
      <div class="form-action">
        <button
          size="m"
          tuiButton
          type="button"
          (click)="showCreate()"
        >
          <tui-icon
            icon="@tui.plus"
            [style.height.rem]="1"
          />
          {{t('create')}}
        </button>
        <button
          size="m"
          tuiButton
          type="button"
        >
          <tui-icon
            icon="@tui.import"
            [style.height.rem]="1"
          />
          {{t('import-file')}}
        </button>
        <button
          size="m"
          tuiButton
          type="button"
        >
          <tui-icon
            icon="@tui.folder-input"
            [style.height.rem]="1"
          />
          {{t('export-file')}}
        </button>
      </div>
    </div>

    <div class="grid-container">
      <ag-grid-angular
        #agGrid
        *ngIf="isBrowser"
        class="ag-theme-alpine grid-table"
        tooltipTrigger="hover"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [rowData]="rowData"
        [rowHeight]="50"
        rowSelection="multiple"
        [enableCellTextSelection]="true"
        (selectionChanged)="handleChangOption($event)"
        (rowDoubleClicked)="handleRowDoubleClicked($event)"
        rowSelection="multiple"
      ></ag-grid-angular>
    </div>
  </form>
</section>