@import '@taiga-ui/core/styles/taiga-ui-local.less';

.action-bar {
    display: flex;
    gap: 12px;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
}

.form-container {
    margin: 16px 32px;
    padding: 12px;
    background: #fff;
    border-radius: 0.5rem;
  }
  
  .form-container form {
    height: 100%;
  }
  